<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HideTB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HideTB.Properties.Settings>
            <setting name="Tick" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
        </HideTB.Properties.Settings>
    </userSettings>
</configuration>